.Header .navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: #175786;
    letter-spacing: 0.6px;
    text-align: right;
    border: none;
}

.Header .navbar a {
    color: #ffffff;
}

.Header .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    padding: 24px 20px;
}

.Header a.navbar-brand {
    background: transparent url('../../assets/images/s-p-d-u.svg') no-repeat 50% 50%;
    background-size: 100%;
    width: 123px;
    height: 68px;
    display: block;
    margin: 0px 25px 0px 25px;
}

@media (min-width: 768px) {
    .navbar>.container-fluid .navbar-brand {
        margin-left: 10px;
    }
}