/* .InfoEditor .no-gutters {
    margin: 0;
    padding: 0;
} */

.InfoEditor .no-gutters>[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

/* .InfoEditor>.show-grid {
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
} */