body {
    margin: 0;
    padding: 0;
    background-color: #f7f8fa;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.fade.modal-backdrop.in {
    opacity: 0.34;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    border-radius: 2px;
}

.RemovalModal {
    display: flex;
    align-items: center;
}

.RemovalModal .Select-control {
    margin-top: 4px;
    margin-bottom: 160px;
}

.RemovalModal textarea {
    margin-top: -5px;
    margin-bottom: 18px;
    height: 67px;
    background-color: #f7f8fa;
    resize: none;
}

.modal-width {
    width: 435px;
}

.btn {
    border-radius: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn.remove-office {
    color: #53687e;
    letter-spacing: 0.5px;
    background-color: #f7f8fa;
    border: solid 1px #d8dde3;
}

.btn.btn-primary {
    font-weight: bold;
    letter-spacing: 0.4px;
}

.btn.step {
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #53687e;
}

.right .btn {
    margin-right: 0px;
    margin-left: 10px;
}

.btn.add-office {
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.4px;
    color: #53687e;
}

.right {
    text-align: right;
}

.form-control {
    border-radius: 2px;
}

@media (max-width: 435px) {
    .modal-width {
        width: 100%;
    }
}

.sidebar-col {
    overflow: hidden;
}